
.ban {
    margin-left: 110px;
    width: 500px;

}
.m-div{
    margin-top: 0;
    margin-bottom:15px;
}

.se {
    color: rgb(243, 34, 34);
    text-shadow: 0 0 20px rgb(243, 34, 34),
        0 0 50px rgb(243, 34, 34);
    font-weight: 700;
    font-size: 30px;
    margin-left: 0%;
    box-sizing: border-box;
    box-shadow: 0 0 5px #03e914, 0 0 15px #03e914,
        0 0 25px #03e914, 0 0 100px 03e914;

}

div.sc{
    
    background-color: #000;
    overflow: auto;
    margin:auto;
    padding: 15px;
    white-space: nowrap;
    border-radius: 15px;   
    opacity: 1.1;
}
.sma{
    border-radius: 5px;
    
}
.mm{
    border-image:fill 0 linear-gradient(#0003,#000);

}
div.sc a{
    display:inline-block;
    color:#242222;
    max-width:90px;
    width:100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
   margin-left: 40px;
    text-decoration: none;
    background-color: #03e914;
    border-radius: 30%;
    box-shadow: 0 0 20px #03e914;
}
div.sc a:hover{
background-color: rgb(148, 233, 174);
box-shadow: 0px 0px 10px  rgb(148, 233, 174),
0px 0px 20px  rgb(148, 233, 174);
color:red;
font-size: 17px;
}
.bt {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35px;
    width: 80px;
    padding: 18px;
    background-color: rgb(171, 228, 201);
    box-shadow: 0 0 10px rgb(130, 236, 187),
        0 0 20px rgb(37, 238, 144);
    cursor: pointer;
}

.bt:hover {
    color: white;
}
.btc:hover{
    cursor: pointer;
}

#b {
    margin-right: 10px;
}
.ban1{
    color: #928e8e;
    padding: 30px;
    text-align: center;
    text-align:justify;
}

.sec{
    background: url(../css/mg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px;
    border-radius: 20px;
}
#pl{
    color: #03e914;
    font-weight: 1000;
    margin-top: 20px;
    border-radius: 50%;
    
}
.tu{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}
.tu1{
    border: none;
    background-color: red;
    color: aliceblue;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;

}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}



.foo{
    margin-top: 30px;
    ;
}
